.user-section {
    text-align: end;
}
.userName {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-align: right;    
    color: #1C2D41;
}
.designation {
    font-weight: 500;
    font-size: 12px;
    line-height: 17px;
    color: #A3AFBF;
}
.btn-outline-info {
    color:  #0079D0;
    border-color: #0079D0;
    font-weight: bold;
}
.btn-outline-info:hover {
    color: #fff;
    color:  #0079D0 !important;
    border-color: #0079D0 !important;;
}
.btn-outline-info:not(:disabled):not(.disabled):active, .btn-outline-info:not(:disabled):not(.disabled).active, .show > .btn-outline-info.dropdown-toggle {
    color: #fff;
    background-color:#0079D0 !important;
    border-color: #0079D0 !important;
}