.user-section {
    text-align: end;
}
.userName {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-align: right;    
    color: #1C2D41;
}
.designation {
    font-weight: 500;
    font-size: 12px;
    line-height: 17px;
    color: #A3AFBF;
}
.btn-outline-info {
    color:  #0095DA;
    border-color: #0095DA;
    font-weight: bold;
    font-size: 14px !important;
}
.btn-outline-info:hover {
    color: #fff;   
    border-color: #0095DA !important;
    background-color: #0095DA !important;
}
.btn-outline-info:not(:disabled):not(.disabled):active, .btn-outline-info:not(:disabled):not(.disabled).active, .show > .btn-outline-info.dropdown-toggle {
    color: #fff;
    background-color:#0095DA !important;
    border-color: #0095DA !important;
}