.attachment {
  min-height: 900px;
}

.list {   
  font-size: 1.5rem;
  margin: 40px 0px 20px 0px;
}

.empty {
  margin-left: 20px;
}

.fileDelete {
  font-size: 18px;
  color: #1C2D41 !important;
  display: flex;
  align-items: center;
}

.fileDelete:hover {
  cursor: pointer;
}

.fileName {
  margin-left: 10px;
  font-size: 18px;
  color: #1C2D41 !important;
}
.fileName a {
  color: #1C2D41 !important;
}
.uploadedUserName {
  margin-right: 14px;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    text-align: right;
    color: #6C7786;
}

.attachButton {
  padding: .5rem 1.5rem;
  background-color: #fff;
  font-size: 1.2rem;
  border-radius: 7px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  border: 1px solid darkgray;
}

.attachButton:hover {
  cursor: pointer;
}

.attachButton > span {
  color: #297fca;
  margin-left: .5em;
}

.warning {  
  color: red;
  margin-bottom: 15px;
  font-size: .8rem;
  font-weight: bold;
}

.uploadFile {
  display: flex;
  align-items: center;
}

.uploadFile > svg {
  margin: 10px;
  height: 20px;
  width: 300px;
}

.uploadName {

}

.uploadError {
  margin: 10px;
  color: red;
}
.uploadList {
  
}

.attachmentsDetail {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f9fafc;
  border: 1px solid #E4E8F1;
  border-radius: 8px;
  max-width: 680px;
  padding: 1.2rem;
  margin-bottom: 16px;
}
/* 
.attachmentsDetail:hover {
 background-color: #e8e7eb;
 display: inline-flex;
} */
.drop-area {
  border: 1px solid #999;
    border-style: dashed;
    padding: 3rem;
    text-align: center;
    max-width: 680px;
    border-radius: 8px;
}
.drop-area:hover {
  cursor: pointer;
  border-color: #0095da;
}

@media screen and (max-width: 992px) {
  .desktop {
      display: none;
  }
  .mobileList {
      display: inherit;
  }
  
}
