@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600i,700&display=swap');

* {
  font-family: 'Montserrat', Helvetica, sans-serif !important;
}

#loginForm {
    text-align: center;
}
#loginPageLogo {
    margin-top: 8.0rem !important;
}

#loginPageTitle {
  margin-top: 3.0rem !important;
  text-align: center;
}

.control-label {
    font-size: 20px;
    width: 459px;
    margin-bottom: 20px;
    text-align: left;
}

#loginForm label[for="root_email"] {
    font-size: 12px;
    width: 459px;
    margin-bottom: 20px;
    text-align: left;
    font-weight: bold;    
    line-height: 15px;
    color: #5A6573;
}

#loginForm label[for="root_password"] {    
    width: 459px;
    margin-bottom: 20px;
    text-align: left;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    color: #5A6573;
}

.form-group .form-control {
    max-width: 459px;
    margin: auto;
    height: 50px;
    background: #FFFFFF;
    border: 1px solid #A3AFBF;
    box-sizing: border-box;
    border-radius: 6px;
}

.heading {
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #1C2D41;
}
.btn-log-in {
    color: #fff;
    background-color: #3480c7;
    border-color: #3480c7;
    border-radius: 15px;    
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
}
.btn-block {
  display: inline-block;
  max-width: 459px;
}

.login-error {
    text-align: center;
    /* width: 459px; */
    margin: auto;
    color: red;
}

.btn-log-out {
    font-size: 0.8rem;
}
.patientList .patientRow {       
  border-radius: 6px;       
  justify-content: space-between;
  border-bottom: 1px solid #E4E8F1
  }
  
  .patientList .patientCol {
    padding: 20px 0px 20px 12px;
    text-align: left;
    /* border-left: 1px solid var(--border-blue);
    border-right: 1px solid var(--border-blue);
    border-bottom: 1px solid var(--border-blue); */
    /* height: 15px;
   */
    color: #4E5063;    
    line-height: 15px;    
    
  }
  .MuiTable-root .patientTable  {    
    width: 100%;
    color: #4E5063;
    font-family: "Century Gothic";
    font-size: 10px;
    font-weight: bold;
    line-height: 12px;
  }

  .MuiTableCell-root.patientTable {
    color: #8392a5;
    font-size: 12px;
    line-height: 15px;
    text-align: left;
  }
  .MuiTableCell-body { 
    min-width: 360px;
}

  .riskOfReadmissionHigh {
    border-radius: 4px;	
    background-color: #DD0932;
    padding: 6px 12px;
    color: #FFFFFF;
    font-weight: bold;
  }
  .riskOfReadmissionMed {
    border-radius: 4px;	
    background-color: rgba(245,166,35,0.08); 
    padding: 6px 12px;
    color: #F5A623;
    font-weight: bold;
  }
  .riskOfReadmissionLow {
    border-radius: 4px;	
    background-color: rgba(245,166,35,0.08); 
    padding: 6px 12px;
    color: #13B652;
    font-weight: bold;
  }
  .MuiTableCell-root {
    border-bottom: none !important;
  }
  /* @media (min-width: 1200px) {
    .container {
        max-width: 1550px;
    }
} */
.ai-ml-container {
  max-width: 1140px;
  margin: 0 auto;
}
.search-table-container {
  max-width: 1140px;
  margin: 0 auto;
}

.MuiTableCell-head {
  width: 14%;
}
tr { 
  margin: 12px 0;;
  display: flex !important;
  
}
.icon-cricle{
  height: 48px;	
  width: 48px;	 
}
.hello-adam-welcome {	
  height: 17px;	
  width: 210px;	
  color: #4E5063;	
  font-size: 14px;	
  font-weight: bold;	
  letter-spacing: 0.08px;	
  line-height: 17px;
}
.care-management-dash {
  height: 29px;	
  width: 357px;	
  color: #4E5063;	
  font-size: 24px;	
  font-weight: bold;	
  letter-spacing: -0.05px;	
  line-height: 29px;
}

.icon-circle-care-section {	
  margin: 30px auto;
}
.hello-adam-welcome-section {
  margin-left: -40px;
}
.rectangle-list {	  
  height: 64px;
  background-color: #4E5063;
  width: 100%;
}
.patient-name-spec {	  
  color: #4E5063;
  font-size: 12px;
  font-weight: bold;
  line-height: 20px;
  text-decoration: none;
}

.patient-name-spec span {
  font-size: 18px;
}
/* .patient-name-spec:hover {
 cursor:pointer;
 text-decoration: none;
} */

.searchBar {  
  padding-top: 60px;
}
.searchBarContainer {
  background-color: #F9FAFC;
  border-bottom: 1px solid #E4E8F1;
  height: 210px;
  width: 100%;
}

.searchBar > div {
  height: 80px !important;
  border-radius: 8px !important;
  box-shadow: 0px 4px 16px -1px rgba(131,146,165,.18) !important;
  padding-left:20px !important;
}

.searchBar button {
  margin-top: 14px !important;
  margin-left: 18px !important;
}
.search-result-section {
  /* max-width: 1200px; */
  margin: 0px auto;
}

@media screen and (max-width:992px) {
  .search-result-section .sm-2,
  .search-result-section .sm-2 .search_option {
    width: 100%;
  }

  .search-result-section .sm-2 {
    padding-bottom: 0.5rem;
  }

  .searchBar {
    margin: 2rem auto;
  }
}
.search_option {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 3px 4px -1px rgba(131,146,165,0.2);
  margin-right: 12px;
  padding: 12px;
  width: 265px;
  text-align: center;
  height: 100px;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 130px;
  border-bottom: 5px solid #0095da;
  transition: all 0.3s;
}

.search_option:hover {
  box-shadow: 0 6px 24px -1px rgba(131,146,165,0.35);
  transition: all 0.3s;
  border-color: #0095da;
  cursor: pointer;
}
.browse-text {
  font-size: 18px;
  font-weight: bold;
}
.browse, .browse-text .arrow {
  color: #8392a5;
}
.browse-search-text {
  color: #0095da;
}
.browse:hover {
  cursor: pointer;
}

.YourHighlightClass {
  padding: 0.2em;
  background-color: #d6ecfc !important;
}

@media screen and (max-width: 992px) {
  .desktop {
      display: none;
  }
  .mobileList {
      display: inherit;
  }
  
}


.nav {

}
.logo {

}
.user {

}

.page-header {
  border-left: 1px solid #C8CDD5;
}

.time-ago {  
  TEXT-TRANSFORM: UPPERCASE;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #8392A5;
}
.text-notes {
  padding: 14px 0px;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #1C2D41;
}
.vendor-result {
  font-size: 18px;
  font-weight: 800;
  color: #8392A5;
}
.vendor-result a {
  color: #8392A5;
  text-decoration: none;
  background-color: transparent;
}
.addPartner {
  color: #0095DA;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-align: right;
}
.addPartner:hover {
  cursor: pointer;
}
.tableHeader {  
background: #F9FAFC;
border-radius: 10px;
}

.profile-Img  { 
  width: 60px;
  height: 60px;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-color: #f9fafc !important;
  border-radius: 50%;
  background-position: center center !important;
  margin-top: -20px;
  margin-right: 20px;
}
a:hover {
  color: #0056b3;
  text-decoration: none;
}
.key-focus-area {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #A3AFBF;
}
.btn-primary {  
  border: 1px solid #0095DA;
  border-radius: 6px !important;
  background-color: #0095DA;
  font-size: 14px !important;
  font-weight: bold;
}


@media screen and (max-width: 992px) { 
  .mobile-view {
    display: none !important;
  }
  .row {
    margin-right: 0px;
    margin-left: 0px;
  }
  .mobile-column {
    min-width: 100%;
  }

}

.partner-action {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
}